<ion-header class="l">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="logout()">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title> Censo </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<div class="preview">
    <hr>
    <ion-avatar (click)="changeImage()">
        <img *ngIf="profile?.imageUrl; else placheolder_avatar;" [src]="profile.imageUrl" />
        <ng-template #placheolder_avatar>
            <div class="fallback">
                <p>Select avatar</p>
            </div>
        </ng-template>
    </ion-avatar>
</div>


<ion-card-header>
    <ion-card-title>Datos</ion-card-title>
    <ion-card-subtitle>Ingresa la información</ion-card-subtitle>
</ion-card-header>
<ion-card>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label class="form-label ">Usuario: </ion-label>
            <ion-input class="form-control " formControlName="user" [disabled]="true"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating " class="form-label ">Fecha de registro</ion-label>
            <ion-input class="form-control " formControlName="date"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating " class="form-label ">Name</ion-label>
            <ion-input class="form-control " formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating " class="form-label ">Apellido</ion-label>
            <ion-input class="form-control " formControlName="lastname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating " class=" form-label ">Número de cédula</ion-label>
            <ion-input class="form-control " formControlName="cedula"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating " class=" form-label ">Cantidad de miembros que pertenecen a la familia</ion-label>
            <ion-input class="form-control " formControlName="number"></ion-input>
        </ion-item>


        <ion-grid>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Latitud: </ion-label>
                        <ion-input class="form-control " formControlName="lat"> {{ lat }} </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-item>
                            <ion-label>Longitud: </ion-label>
                            <ion-input class="form-control " formControlName="lng"> {{lng}}</ion-input>
                        </ion-item>
                    </ion-item>
                </ion-col>
            </ion-row>




        </ion-grid>
        <ion-item>
            <ion-button expand="full" (click)="getCurrentPosition()">Detectar ubicación</ion-button>
        </ion-item>



        <ion-button type="submit" expand="block" color="primary" [disabled]="formulario.invalid">Guardar</ion-button>



    </form>
</ion-card>



</ion-content>