<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="logout()">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
      <ion-title>Registar libro</ion-title>
    </ion-toolbar>
  
    
  </ion-header>
  
  <ion-content>
    <div class="container pt-4">
      <div class="row">
          <div class="col-lg-6 offset-lg-3">
              <div class="card text-center">
                  <div class="card-body">
                    <h3>Agregar libro</h3>
           
                      <!-- <form class="mt-4" [formGroup]="formulario" (ngSubmit)="onSubmit"> -->
                        <form [formGroup]="bookform" (ngSubmit)="enviar()">
                            <div class="row">
                                <div class="col">
                                  <input type="text" class="form-control form-control-lg" formControlName="titulo"
                                    placeholder="Titulo">
                                </div>
                                <div class="col">
                                  <input type="text" class="form-control form-control-lg" formControlName="autor"
                                  placeholder="Autor">
                                </div>
                              </div>

                              <div class="md-form amber-textarea active-amber-textarea form-control-lg mt-3"> 
                                <textarea id="form19" class="md-textarea form-control"formControlName="descripcion" placeholder="Descripción" ></textarea> 
                                <label for="form19"></label> 
                              </div>
                              
                                <!-- <input type="text" class="form-control-lg form-control-lg mt-5" formControlName="precio"  placeholder="Salario"> -->
                                <br>
                           
                                <label for="precio mt-6" >Calificación</label>
                                <select class="form-control form-control-lg mt-3" formControlName="precio" id="precio mt-3"> 
                                  <option>1</option> 
                                  <option>2</option> 
                                  <option>3</option> 
                                  <option>4</option> 
                                  <option>5</option> 
                                </select>
                            
                            <div class="mt-3">
                                <button type="submit" class="btn btn-dark btn-lg">Agregar</button>
                            </div>

                        </form>  
                        
                 
      
                  </div>
              </div>
          </div>
      </div>
  </div>
  </ion-content>
  
  









<!-- <ion-header>
    <ion-toolbar>
      <ion-title>c</ion-title>
    </ion-toolbar>
  
    
  </ion-header>
  
  <ion-content>
    <div class="container pt-4">
      <div class="row">
          <div class="col-lg-6 offset-lg-3">
              <div class="card text-center">
                  <div class="card-body">
                    <h3>Agregar libro</h3>
                      <form class="mt-4" [formGroup]="bookform" (ngSubmint)="ngSubmit">
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control form-control-lg" formControlNane="user"
                              placeholder="user">
                          </div>
                          <div class="col">
                            <input type="text" class="form-control-lg form-control-lg" formControlNane="autor"
                            placeholder="Autor">
                          </div>
                        </div>
                          <input type="text" class="form-control-lg form-control-lg mt-3" formControlNane="documento"
                          placeholder="Documento">
                          <input type="text" class="form-control-lg form-control-lg mt-3" formControlNane="salario"
                          placeholder="Salario">
  
                          <div class="mt-3">
                            <button type="submit" class="btn btn-dark btn-lg">Agregar</button>
                          </div>
  
                      </form>  
                 
      
                  </div>
              </div>
          </div>
      </div>
  </div>
  </ion-content>
  
   -->