<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="logout()">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
      <ion-title>Lista de libros</ion-title>
    </ion-toolbar>

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de libros</span>
            <table  class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Descripcion</th>
                    <th>Calificacion</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let libro of data">
                    <td>{{ libro.titulo }}</td>
                    <td>{{ libro.autor }}</td>
                    <td>{{ libro.descripcion }}</td>
                    <td>{{ libro.precio }}</td>
                    <td>
                      <button (click)="deletebook(libro)" size="small"type="button" class="btn btn-outline-danger mt-3">Eliminar</button>
                    </td>
                    <td>
                      <button type="button" class="btn btn-outline-primary mt-3" size="small" [routerLink]="['/create-reg/', libro.id]">Actualizar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

