ion-content{
    --background: url(../../../assets/backgr/xiaomi-mi-cc9-wall-gizmochina-163.jpg) 0 0/100% 100% no-repeat;

}
ion-col {
    background-color: #fdfd96;
    border: solid 1px rgb(35, 77, 170);
    color: black;
    text-align: center;
    
}

#fondo{

    background-color: #77dd77;
    font-weight:  bolder;
}